:root {
  --blue-600: hsl(231, 69%, 60%);
  --red-400: hsl(0, 94%, 66%);

  --grey-50: hsl(0, 0%, 97%);
  --blue-950: hsl(229, 31%, 21%);
}

.btn{
    padding: 10px 35px;
    background-color: var(--red-400);
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    border: 2.5px solid var(--red-400);
    transition: .3s;
    &:hover{
        background-color: var(--grey-50);        
        color: var(--red-400);
    }
}

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.hero-img , .feature-img{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        right: -60%;
        bottom: -40%;
        background-color: var(--blue-600);
        contain: '';
        width: 130%;
        height: 120%;
    }
}

.feature-img{
    &::before{
        width: 160%;
        height: 350px;
        bottom: -20%;
        left: -60%;
        z-index: -1;
    }
}

.tab{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        transition: .5s;
        bottom: -160%;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        height: 4px;
        background-color: var(--red-400);
        opacity: 0;
    }
    &.active{
        &::before{
            opacity: 1;
        }
    }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}



    .main-heading{
        opacity: 0;
        animation: text-show .3s .5s forwards linear ;
    }
    .sub-heading{
        opacity: 0;
        animation: text-show .3s .8s forwards linear ;
    }
    .btns{
        opacity: 0;
        animation: text-show .3s 1.2s forwards linear ;
    }
    .hero-img{
        opacity: 0;
        animation: text-show .3s 1.4s forwards linear ;
    }

    .feature-heading{
        animation:  .3s 1.4s forwards linear ;
    }

@keyframes text-show {
  0% {
    transform: translateY(20px);
    opacity: 0;
    filter: blur(5px);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
    visibility: visible;
  }
}

.animate {
  animation: text-show 0.5s ease-in-out forwards;
  opacity: 0;
  visibility: hidden; 
}

.animate-delay-0 {
  animation-delay: 0s;
}
.animate-delay-1 {
  animation-delay: 0.3s;
}
.animate-delay-2 {
  animation-delay: 0.6s;
}



.extension-wrapper{
    position: relative;
    transition: .3s;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 75%;
        width: 100%;
        height: 3px;
        border-bottom: 3px solid  ;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='2'%3E%3Ccircle cx='1' cy='1' r='1' fill='rgb(173, 173, 173)' /%3E%3C/svg%3E") 1 repeat;
    }
    &:nth-child(2){
        transform: translateY(50px);
    }
    &:nth-child(3){
        transform: translateY(100px);
    }
    &:hover{
        transform: translateY(-20px);
    }
}


.q{
    border-bottom: 1px solid rgb(133, 133, 133);
    cursor: pointer;
    .arrow{
            transition: .3s;
            transform: rotate(0deg);
        }
    .answer{
        overflow: hidden;
        height: 0;
        transition: .3s;
    }
    &.open{
        .arrow{
            transition: .3s;
            transform: rotate(180deg);
        }
        .answer{
            height: 150px;
        }
    }
    &:hover{
        .q-label{
            color: var(--red-400);
        }
    }
}

textarea:focus, input:focus{
    outline: none;
}


.input-fel{
    transition: .3s;
    span{
        opacity: 0;
        transition: .3s;
    }
    img{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: .3s;
    }
    &.error{
        border : 2px solid var(--red-400);
        img{
            opacity: 1;
        }
        span{
            opacity: 1;
        }
    }
}

.error{

}